{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class='main'>
  <section>
    <div class='form'>
      <h1 class='form__title'>Редагування товару</h1>
      <form method='POST' action='/product-edit'>
        <div class='form__content'>
          <h2 class='form__subtitle'>Інформація про товар</h2>
          {{#with data}}
            <div class='form__row'>
              <div class='form__field'>
                <label for='name' class='form__label'>Назва
                  товару</label>
                <textarea
                  name='name'
                  rows='1'
                  class='form__input'
                >{{name}}</textarea>
              </div>
              <div class='form__field'>
                <label
                  for='price'
                  class='form__label'
                >Ціна</label>
                <textarea
                  name='price'
                  rows='1'
                  class='form__input'
                >{{price}}</textarea>
              </div>
              <div class='form__field'>
                <label
                  for='id'
                  class='form__label'
                >ID</label>
                <textarea
                  name='id'
                  rows='1'
                  class='form__input'
                >{{id}}</textarea>
              </div>
            </div>

            <div class='form__field'>
              <label
                for='description'
                class='form__label'
              >Короткий опис товару</label>
              <textarea
                type='text'
                name='description'
                class='form__input'
                rows='3'
              >{{description}}</textarea>
              <small
                class='form__label--small'
              >Відображується у картці товару</small>
            </div>
            <div class='form__row'>
              <button class='form__button'>Зберегти
                оновлення</button>
              <a
                href='/product-delete?id={{id}}'
                class='form__button-warning'
              >Видалити товар</a>
            </div>
          {{/with}}
        </div>
      </form>
    </div>
  </section>

</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}